<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="Description" CONTENT="Author: Raihan Kabir, Category: Notebook, Length: 4 pages">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='icon.png') }}"/>
    <title>Flask Notebook</title>
  </head>
  <body>
    <nav class='container-fluid bg-info p-2'>
        <div class='text-center' style="font-size: 20px">FLASK NOTEBOOK</div>
    </nav>
    <div class='container-fluid bg-dark'>
        <div class='container tiny-nav'>
            <ul>
                {% block navitems %}{%endblock%}
                {% if current_user.is_authenticated %}
                    <li>
                        {% if url_for('auth.profile') in request.url %}
                            <span class='text-secondary'>&nbsp;Profile</span>
                        {% else %}
                            <a href="{{ url_for('auth.profile') }}">&nbsp;Profile</a>
                        {% endif %}
                    </li> / 
                    <li><a href="{{ url_for('auth.logout') }}">&nbsp;Log out</a></li>
                {% else %}
                    <li>
                        {% if url_for('auth.login') in request.url %}
                            <span class='text-secondary'>&nbsp;Login</span>
                        {% else %}
                            <a href="{{ url_for('auth.login') }}">&nbsp;Login</a>
                        {% endif %}
                    </li> / 
                    <li>
                        {% if url_for('auth.register') in request.url %}
                            <span class='text-secondary'>&nbsp;Register</span>
                        {% else %}
                            <a href="{{ url_for('auth.register') }}">&nbsp;Register</a></li>
                        {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
    <div class='container'>
        {% block content %} {% endblock %}
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>